.todo-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px; 
  }
  .barra_edit {
    position: absolute;
    margin-left: 170px;
    width: 100%;
    box-sizing: border-box;
  }
  .edit {
    width: 29px;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 10px;
  }
  .v2_2 {
    width: 891px;
    height: 41px;
    background: rgba(227, 238, 242, 1);
    opacity: 1;
    position: relative; 
    top: 130px;
    left: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  .v4_3 {
    width: 400px;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: start;
    margin-right: 175px;
  }
  
  .check {
    width: 20px;
    height: 20px;
    margin-right: 100px;
    margin-left: 55px;
  }
  
  .v4_8 {
    width: 29px;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
  }