* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    background: rgba(131,197,190,1);
  }
  .v1_1 {
    align-items: center;
    position: absolute;
  }
  .v1_2 {
    font-family: Inter;
    width: 100%;
    height: 100%;
    background: rgba(131,197,190,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_3 {
    display: flex;
    width: 900px;
    height: 700px;
    background: rgba(237,246,249,1);
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 136px;
    left: 500px;
    border-radius: 40px;
    overflow: hidden;
  }
  .v1_28 {
    width: 100%;
    color: rgba(237,246,249,1);
    position: absolute;
    top: 29px;
    font-family: Inter;
    font-weight: bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  