form {
    padding: 10px;
}
  .v1_22 {
    font-size: 17px;
    font-family: Inter;
    width: 700px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 44px;
    border-radius: 50px;
    overflow: hidden;
    border-style: none;
    padding: 0 10px;
  }
  .v1_25 {
    width: 83px;
    color: rgba(255,255,255,1);
    background-color: rgba(0,109,119,1);
    border-radius: 40px;
    padding: 13px;
    position: absolute;
    top: 24px;
    left: 770px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    border-style: none;
  }